<!doctype html>
<html lang="en">
    <div id="zaxis">
        <br>
        <div id="google_translate_element"></div>
    
    <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
    </script>
    
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <br>
      </div>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contact Us</title>
    <link rel="shortcut icon" href="../Images/fav.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../Images/fav.jpg">
    <link rel="stylesheet" href="../Stylesheet/bootstrap.min.css">
    <link rel="stylesheet" href="../Stylesheet/all.min.css">
    <link rel="stylesheet" href="../Stylesheet/animate.css">
    <link rel="stylesheet" href="../plugins/slider/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../plugins/slider/css/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="../Stylesheet/style.css" />
    <style>
        .background {
            background-color: #f1f8ff;
        }
    </style>
</head>

<body>

    <header class="continer-fluid ">


        </div>
        </div>
        </div>
        <div id="menu-jk" class="header-bottom">
            <div class="container">
                <div class="row nav-row">
                    <div class="col-lg-3 col-md-12 logo">
                        <a href="index.html">
                            <img src="../Images/logo.jpg" alt="">
                            <a data-toggle="collapse" data-target="#menu" href="#menu"><i
                                    class="fas d-block d-lg-none  small-menu fa-bars"></i></a>
                        </a>

                    </div>
                    <div id="menu" class="col-lg-9 col-md-12 d-none d-lg-block nav-col">

                        <ul class="navbad">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about_us.html">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/services">Services</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/gallery">Gallery</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/blog">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contactUs">Contact US</a>
                            </li>




                        </ul>


                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--  ************************* Page Title Starts Here ************************** -->

    <div class="page-nav no-margin row background">
        <div class="container">
            <div class="row">
                <h2>Contact Us</h2>
                <ul>
                    <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li><i class="fas fa-angle-double-right"></i> Contact US</li>
                </ul>
            </div>
        </div>
    </div>



    <!--  ************************* Contact Us Starts Here ************************** -->




    <div class="row contact-rooo no-margin">
        <div class="container">
            <div class="row">


                <div style="padding:20px" class="col-sm-7">
                    <style>
                        #star {
                            color: red;
                        }
                    </style>
                    <div class="row cont-row">
                        <div class="col-sm-3">Enter Name <label id="star">*</label><span>:</span></div>
                        <div class="col-sm-8"><input type="text" placeholder="Enter Name " name="name"
                                required="required" data-error="name is required." class="form-control input-sm"></div>
                    </div>
                    <div class="row cont-row">
                        <div class="col-sm-3"><label></label>Email Address </label><span>:</span></div>
                        <div class="col-sm-8"><input type="text" name="name" placeholder="Enter Email Address"
                                class="form-control input-sm"></div>
                    </div>
                    <div class="row cont-row">
                        <div class="col-sm-3">Mobile Number <label id="star">*</label><span>:</span></div>
                        <div class="col-sm-8"><input type="text" name="name" placeholder="Enter Mobile Number"
                                required="required" data-error="mobile number  is required."
                                class="form-control input-sm"></div>
                    </div>
                    <div class="row cont-row">
                        <div class="col-sm-3">Enter Message <label id="star">*</label><span>:</span></div>
                        <div class="col-sm-8">
                            <textarea rows="5" placeholder="Enter Your Message" required="required"
                                data-error="please drop us your issues" class="form-control input-sm"></textarea>
                        </div>
                    </div>
                    <div style="margin-top:10px;" class="row">
                        <div style="padding-top:10px;" class="col-sm-3"><label></label></div>
                        <div class="col-sm-8">
                            <button class="btn btn-primary btn-sm">Send Message</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">

                    <div style="margin:50px" class="serv">





                        <h2 style="margin-top:10px;">Address</h2>

                        Bengaluru, India. <br>
                        Reg. No. MLS-4-00014-2016-18<br>
                        Phone:+91 8047104234<br>






                    </div>


                </div>

            </div>
        </div>

    </div>






    <!--  ************************* Footer Starts Here ************************** -->





    <div class="copy">
        <div class="container">
            <a href="https://www.smarteyeapps.com/">2015 &copy; All Rights Reserved | Designed and Developed by
                Smarteyeapps</a>

        </div>

    </div>


</body>

<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
<script src="assets/plugins/slider/js/owl.carousel.min.js"></script>
<script src="assets/js/script.js"></script>

</html>